<section class="main-container" role="main">
  <button class="export-to-csv"
          (click)="exportToCsv()"
          [ngClass]="{'disabled': todoList.length === 0}"
          [disabled]="todoList.length === 0">
    Export to CSV
  </button>
  <div class="task-container">
    <div class="header">
      <h1>Todo App</h1>
    </div>
    <form [formGroup]="todoForm">
      <div class="input-group">
        <div class="input-field">
          <input formControlName="task" placeholder="Add Todo" type="text">
        </div>
        <div class="add-button-section">
          <button (click)="addTask()" class="add-button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="task-list">
      <ul class="list-items">
        <li *ngFor="let todo of todoList">
          <span>{{todo.task}}</span>
          <button (click)="deleteTask(todo)" class="delete-button">
            <i class="fa fa-trash"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
